<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="Base.Listners"/>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>     
      <class name="Testcase.TC001Landing"/>
      <class name="Testcase.TC002Creatingaccount"/>
      <class name="Testcase.TC003SignIn"/>
      <class name="Testcase.TC004Logout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
